In [3]:
import pandas as pd
df = pd.read_table("4_data.txt", delimiter="|",names=["Winning","Card"])
df[['Game','WinningNum']] = df.Winning.str.split(":",expand=True) 
df=df.drop(["Winning"],axis=1)
df=df[['Game', 'WinningNum', 'Card']]
df

,Game,WinningNum,Card
0,Card 1,58 96 35 20 93 34 10 27 37 30,99 70 93 11 63 41 37 29 7 28 34 10 40 96 38 ...
1,Card 2,64 84 57 46 53 86 90 99 59 70,99 59 30 83 84 70 31 57 6 29 18 82 15 88 86 ...
2,Card 3,55 87 51 18 86 5 66 83 92 95,73 68 49 57 29 14 41 42 65 10 84 34 67 44 6 ...
3,Card 4,52 21 59 78 18 42 46 91 31 10,48 83 13 68 42 72 4 10 6 36 63 81 21 94 8 ...
4,Card 5,8 79 31 1 26 57 90 62 93 10,26 70 73 6 16 15 93 57 34 56 87 31 10 45 1 ...
...,...,...,...
196,Card 197,38 3 57 72 97 45 66 73 56 8,83 68 28 64 58 66 85 15 53 65 23 3 37 87 20 ...
197,Card 198,98 66 29 17 83 9 6 84 36 70,21 10 31 84 93 14 67 29 24 91 12 41 99 19 5 ...
198,Card 199,41 93 33 26 45 65 97 39 20 95,82 8 30 6 34 58 49 16 29 91 64 80 50 9 74 ...
199,Card 200,86 85 91 2 27 65 45 73 60 69,66 26 28 7 98 80 14 52 6 35 57 46 39 4 30 ...
200,Card 201,30 53 41 42 10 51 37 63 46 67,84 74 33 5 86 32 45 83 52 1 13 43 65 49 98 ...

In [4]:
import re
df["WinningNum"]=df.apply(lambda x: re.sub("\s\s+"," ",x.WinningNum).strip(),axis=1)
df["WinningNum"]=df["WinningNum"].str.split(' ')
df["Card"]=df.apply(lambda x: re.sub("\s\s+"," ",x.Card).strip(),axis=1)
df["Card"]=df["Card"].str.split(' ')
df

,Game,WinningNum,Card
0,Card 1,"[58, 96, 35, 20, 93, 34, 10, 27, 37, 30]","[99, 70, 93, 11, 63, 41, 37, 29, 7, 28, 34, 10..."
1,Card 2,"[64, 84, 57, 46, 53, 86, 90, 99, 59, 70]","[99, 59, 30, 83, 84, 70, 31, 57, 6, 29, 18, 82..."
2,Card 3,"[55, 87, 51, 18, 86, 5, 66, 83, 92, 95]","[73, 68, 49, 57, 29, 14, 41, 42, 65, 10, 84, 3..."
3,Card 4,"[52, 21, 59, 78, 18, 42, 46, 91, 31, 10]","[48, 83, 13, 68, 42, 72, 4, 10, 6, 36, 63, 81,..."
4,Card 5,"[8, 79, 31, 1, 26, 57, 90, 62, 93, 10]","[26, 70, 73, 6, 16, 15, 93, 57, 34, 56, 87, 31..."
...,...,...,...
196,Card 197,"[38, 3, 57, 72, 97, 45, 66, 73, 56, 8]","[83, 68, 28, 64, 58, 66, 85, 15, 53, 65, 23, 3..."
197,Card 198,"[98, 66, 29, 17, 83, 9, 6, 84, 36, 70]","[21, 10, 31, 84, 93, 14, 67, 29, 24, 91, 12, 4..."
198,Card 199,"[41, 93, 33, 26, 45, 65, 97, 39, 20, 95]","[82, 8, 30, 6, 34, 58, 49, 16, 29, 91, 64, 80,..."
199,Card 200,"[86, 85, 91, 2, 27, 65, 45, 73, 60, 69]","[66, 26, 28, 7, 98, 80, 14, 52, 6, 35, 57, 46,..."
200,Card 201,"[30, 53, 41, 42, 10, 51, 37, 63, 46, 67]","[84, 74, 33, 5, 86, 32, 45, 83, 52, 1, 13, 43,..."

In [29]:
df["Matches"]=0
for i in range(25):
    df["Matches"]=df["Matches"]+df.apply(lambda x: 1 if x.Card[i] in x.WinningNum else 0,axis=1)
df["Score"]=df.apply(lambda x: int(2**(x.Matches-1)),axis=1)
df

,Game,WinningNum,Card,Matches,Score
0,Card 1,"[58, 96, 35, 20, 93, 34, 10, 27, 37, 30]","[99, 70, 93, 11, 63, 41, 37, 29, 7, 28, 34, 10...",10,512
1,Card 2,"[64, 84, 57, 46, 53, 86, 90, 99, 59, 70]","[99, 59, 30, 83, 84, 70, 31, 57, 6, 29, 18, 82...",10,512
2,Card 3,"[55, 87, 51, 18, 86, 5, 66, 83, 92, 95]","[73, 68, 49, 57, 29, 14, 41, 42, 65, 10, 84, 3...",0,0
3,Card 4,"[52, 21, 59, 78, 18, 42, 46, 91, 31, 10]","[48, 83, 13, 68, 42, 72, 4, 10, 6, 36, 63, 81,...",4,8
4,Card 5,"[8, 79, 31, 1, 26, 57, 90, 62, 93, 10]","[26, 70, 73, 6, 16, 15, 93, 57, 34, 56, 87, 31...",10,512
...,...,...,...,...,...
196,Card 197,"[38, 3, 57, 72, 97, 45, 66, 73, 56, 8]","[83, 68, 28, 64, 58, 66, 85, 15, 53, 65, 23, 3...",2,2
197,Card 198,"[98, 66, 29, 17, 83, 9, 6, 84, 36, 70]","[21, 10, 31, 84, 93, 14, 67, 29, 24, 91, 12, 4...",3,4
198,Card 199,"[41, 93, 33, 26, 45, 65, 97, 39, 20, 95]","[82, 8, 30, 6, 34, 58, 49, 16, 29, 91, 64, 80,...",0,0
199,Card 200,"[86, 85, 91, 2, 27, 65, 45, 73, 60, 69]","[66, 26, 28, 7, 98, 80, 14, 52, 6, 35, 57, 46,...",0,0
200,Card 201,"[30, 53, 41, 42, 10, 51, 37, 63, 46, 67]","[84, 74, 33, 5, 86, 32, 45, 83, 52, 1, 13, 43,...",0,0

In [30]:
sum(df["Score"])

26218

Part 2
======

In [47]:
df["Copies"]=1
for i in range(len(df)):
    for j in range(df["Matches"].iloc[i]):
        df['Copies'].iloc[i+j+1]+=df['Copies'].iloc[i]
df

/Users/soltys/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Game,WinningNum,Card,Matches,Score,Copies
0,Card 1,"[58, 96, 35, 20, 93, 34, 10, 27, 37, 30]","[99, 70, 93, 11, 63, 41, 37, 29, 7, 28, 34, 10...",10,512,1
1,Card 2,"[64, 84, 57, 46, 53, 86, 90, 99, 59, 70]","[99, 59, 30, 83, 84, 70, 31, 57, 6, 29, 18, 82...",10,512,2
2,Card 3,"[55, 87, 51, 18, 86, 5, 66, 83, 92, 95]","[73, 68, 49, 57, 29, 14, 41, 42, 65, 10, 84, 3...",0,0,4
3,Card 4,"[52, 21, 59, 78, 18, 42, 46, 91, 31, 10]","[48, 83, 13, 68, 42, 72, 4, 10, 6, 36, 63, 81,...",4,8,4
4,Card 5,"[8, 79, 31, 1, 26, 57, 90, 62, 93, 10]","[26, 70, 73, 6, 16, 15, 93, 57, 34, 56, 87, 31...",10,512,8
...,...,...,...,...,...,...
196,Card 197,"[38, 3, 57, 72, 97, 45, 66, 73, 56, 8]","[83, 68, 28, 64, 58, 66, 85, 15, 53, 65, 23, 3...",2,2,539168
197,Card 198,"[98, 66, 29, 17, 83, 9, 6, 84, 36, 70]","[21, 10, 31, 84, 93, 14, 67, 29, 24, 91, 12, 4...",3,4,1078336
198,Card 199,"[41, 93, 33, 26, 45, 65, 97, 39, 20, 95]","[82, 8, 30, 6, 34, 58, 49, 16, 29, 91, 64, 80,...",0,0,2020321
199,Card 200,"[86, 85, 91, 2, 27, 65, 45, 73, 60, 69]","[66, 26, 28, 7, 98, 80, 14, 52, 6, 35, 57, 46,...",0,0,1393617
200,Card 201,"[30, 53, 41, 42, 10, 51, 37, 63, 46, 67]","[84, 74, 33, 5, 86, 32, 45, 83, 52, 1, 13, 43,...",0,0,1393617

In [51]:
sum(df['Copies'])

9997537